html{
    cursor: url(../cursor2.cur), auto;
}
@font-face {
    src: url("/fonts/BMJUA_ttf.ttf");
    font-family: "jua"
}
.body {
    background-color:#454545;
}
p {
    font-family: "jua";
}
  
h1 {
      font-family: "jua";
}
  
a {
      font-family: "jua";
}
.text {
    color:rgb(255, 255, 255);
    font-size:40px;
}
.center {
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:40px;
}
.oops {
    color:rgb(255, 255, 255);
    font-size:60px;
}
    /*
    text-align: center; 
    */